/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    color: #292f33;
}

.pad-top {
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

i.fa {
    padding: 5px;
}

section {
    padding-top: 20px;
}

p {
    font-weight: 300;
    line-height: 150%;
}

.pad-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad-bottom {
    padding-bottom: 50px;
}

.cta-button {
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 95%;
    font-weight: 700;
}
.right .cta-list {
	padding-top: 60px;
}


h3.block-title::after {
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
    top: 12px;
    margin: 0 0 25px 0;
}

h3.block-title: {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: normal;
}

h3 {
    font-weight: 500;
}

h2 {
    font-size: 26px;
}

/* HOMEPAGE */

.by-the-numbers {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 17px solid #fff;
    background: #8ac54f;
}

.by-the-numbers p, .upcoming-events p {
    line-height: 130%;
}

#home {
    margin-top: 0px;
}

ul.upcoming-events {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.upcoming-events li {
    padding-bottom: 7px;
}

.content.twitter {
    padding-top: 5px;
}

section#latest {
	background-color:#E8E8E8; 
	padding-bottom: 45px; 
	margin-top: 20px;
}

section#intro { 
	padding-bottom: 10px; 
}

/* NAVBAR STYLE */



.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-weight: 500;
    font-size: 110%;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse {
    background-color: #8AC54F;
}

.navbar-nav > li {
    padding-top: 18px !important;
}

.navbar {
    min-height: 90px !important;
}



@media (min-width: 992px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.dropdown:hover > a {
	  background-color: #006687;
	}
}

@media (max-width: 992px) {
    .navbar-nav > li {
        padding-top: 0px !important;
    }
    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 0px solid #8AC54F !important;
        border-color: #8AC54F;
        padding-top: 15px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider{
    	background-color: #ffffff;
    }

    .collapse.in {
        display: block !important;
    }

    .cta-list, .footer {
        padding-top: 20px;
    }
    
    .right .cta-list {
		padding-top: 30px;
	}
    
    #footer h4 {
		padding-top: 20px;
	}
}

/* SECOND LEVEL NAV */

ul.auto-menu {
	list-style-type: none;
	padding: 0;
	padding-top: 18px;
	width: 100%;
	margin: 0;
}

ul.auto-menu li.first {
	padding: 12px 0;
	border-top: none;
}

ul.auto-menu li {
	padding: 12px 0;
	border-top: 1px solid #f2f2f2;
}

/* BREADCRUMBS */

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb {
	border: 0px solid #dddddd;
	border-radius: 0px;
	display: none;
}



/* ADDED PADDING IN NAVBAR */

.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/

.navbar-pad-original {
    padding: 0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/

.back-light {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 10px;
    font-weight: 500;
}


/*  NEWS CAROUSEL */

#newsCarousel .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border: 0px solid #ffffff;
}

#newsCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    text-shadow: none;
}

#newsCarousel .carousel-caption p {
    line-height: 100%;
}

#newsCarousel .carousel-caption .label {
    margin-top: 20px;
    font-size: 100%;
}

#newsCarousel {

}

#newsCarousel .list-group {
    position: absolute;
    top: 0px;
    right: 0;
}

#newsCarousel .list-group-item {
    border-radius: 0px;
    cursor: pointer;
}

#newsCarousel .list-group .active {
    background-color: #5bc0de;
}

#newsCarousel h4 {
    font-size: 16px;
    font-weight: 400;
}

#newsCarousel a:active {
    border: 0px solid #ffffff;
}

@media (min-width: 992px) {
 
    #newsCarousel {
        padding-right: 33.3333%;
    }
    
    #newsCarousel .carousel-controls {
        display: none;
    }
}

@media (max-width: 991px) {
	.carousel-caption p, #newsCarousel .list-group {
		display: none;
	}
	#newsCarousel {
        padding-top: 0px;
        margin-top: 25px;
    }
} 



/* FOOTER STYLE*/

section#footer {
	background-color: #fff;
	background-color:#8AC54F; 
	margin-top: 40px;
}

#footer h4 {
	text-transform: uppercase;
	color: #fff;
}



   
